<div class="modal-header">
  <div ng-click="close()" class="close">X</div>
  <div class="modal-title">
      <h3 class="modal-title">Search Lookup</h3>
  </div>
</div>

<div class="modal-body">
  <div ng-show="hasError" class="alert alert-danger" role="alert" align="center">
    {{errorMsg}}
  </div>
  <div ng-show="hasSuccess" class="alert alert-success" role="alert" align="center">
    {{successMsg}}
  </div>

  <div class="col-md-6 shiptocontainer desktop">
        <form class="modal-form shiptoform leftvariantform">
            <div>
                <label for="">Search Name</label>
                <input name="VARIANT" type="text" size="30" maxlength="100" ng-model="model.name" ng-change="searchList()">
            </div>
            <div>
              <label for="">Description</label>
              <input name="DESCRIPTION" type="text" size="30" maxlength="100" ng-model="model.description" ng-change="searchList()">
            </div>
        </form>
    </div>
    <div class="col-md-6 namecontainer desktop">
        <form class="modal-form nameform rightvariantform">
            <div class="onlyMySearches">
              <label for="" class="breakLine">Only My Searches</label>
              <label for="PUBLIC_Y" class="push-right">
              <input id="PUBLIC_Y" type="radio" ng-model="onlyMine" ng-value="true" ng-change="searchList()">Yes</label>
              <label for="PUBLIC_N">
              <input id="PUBLIC_N" type="radio" ng-model="onlyMine" ng-value="false" ng-change="searchList()">No
            </label>
            </div>
            <div ng-if="!onlyMine">
              <label for="">Created By</label>
              <input name="USER" id="onlyMineUser"value="" size="30" maxlength="50" type="text" ng-model="model.userID" ng-change="searchList()">
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
  <div style="padding-top:15px" class="desktop">
    <pagination ng-change="pageChange()" total-items="model.filteredList.length" ng-model="model.currentPage" items-per-page="model.pageSize" max-size="model.pagesToShow" boundary-links="true" class="pagination-group" ng-hide="model.filteredList.length<=0 || model.filteredList.length<=model.pageSize"></pagination>
  </div>
  <div class="mobile">
    <pagination ng-change="pageChange()" total-items="model.filteredList.length" ng-model="model.currentPage" items-per-page="model.pageSize" max-size="model.pagesToShow" boundary-links="false" class="pagination-group" ng-hide="model.filteredList.length<=0 || model.filteredList.length<=model.pageSize" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>

  <table border="1" ng-hide="model.filteredList.length===0" class="variantResultList">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="order('variantName')" class="sort-link">Search Name</a>
          <span class="sortorder" ng-show="predicate === 'variantName'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a href="" ng-click="order('variantDsc')" class="sort-link">Description</a>
          <span class="sortorder" ng-show="predicate === 'variantDsc'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a href="" ng-click="order('createdBy')" class="sort-link">Created By</a>
          <span class="sortorder" ng-show="predicate === 'createdBy'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a href="" ng-click="order('lastModified')" class="sort-link">Last Modified</a>
          <span class="sortorder" ng-show="predicate === 'lastModified'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>Default</th>
        <th>Select</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="variant in model.filteredList | orderBy:[predicate, 'variantName']:reverse | limitTo:model.pageSize:model.beginFrom">
          <td>{{variant.variantName}}</td>
          <td>{{variant.variantDsc}}</td>
          <td>{{variant.createdBy}}</td>
          <td>{{variant.lastModified}}</td>
          <td><input name="{{variant.id}}Default" id="{{variant.id}}Default" ng-model="isDefault" type="radio" ng-checked="checkIsDefault(variant.id)" class="isDefaultRadio" ng-click="makeDefault(variant)"><label for="{{variant.id}}Default">Set default</label></td>
          <td><button ng-click="selectVariant(variant)" class="bottombuttons">Select</button></td>
          <td><i class="glyphicon glyphicon-remove deleteVariantButton" ng-click="deleteVariant(variant)" ng-if="variant.createdBy === userid"></i>
        </tr>
    </tbody>
  </table>
  <div class="desktop">
    <pagination ng-change="pageChange()" total-items="model.filteredList.length" ng-model="model.currentPage" items-per-page="model.pageSize" max-size="model.pagesToShow" boundary-links="true" class="pagination-group" ng-hide="model.filteredList.length<=0 || model.filteredList.length<=model.pageSize"></pagination>
  </div>
  <div class="mobile">
    <pagination ng-change="pageChange()" total-items="model.filteredList.length" ng-model="model.currentPage" items-per-page="model.pageSize" max-size="model.pagesToShow" boundary-links="false" class="pagination-group" ng-hide="model.filteredList.length<=0 || model.filteredList.length<=model.pageSize" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
  </div>

</div>