.variant-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.variant-icon {
    padding-top: 6px;
    margin-left: 10px;
    font-size: 1.3em;
}

.user-list {
    z-index: 99999999999;
}
.variant-icon-disabled {
    color: rgba(51,122,183,0.5);
}

.variant-icon-disabled:hover {
    cursor: default;
}

.variant-make-public input {
    margin-right: 5px;
}

.disabled-save {
    background: rgba(0,0,0,0.5)!important;
    cursor: default!important;
}

.modal-body {
    padding: 0;
}

.modal-header {
    padding: 10px;
    text-align: center;
}

.modal-header h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.modal-footer {
    text-align: center;
}

.modal-footer table {
    width: 99%;
    margin: 15px auto 15px auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    font-size: 0.85em;
}

.modal-footer table thead {
    background-color: #595959;
    color: #fff;
}

.modal-footer table thead th {
    padding: 7px;
}

.modal-footer table thead th:last-child,
.modal-footer table tbody td:last-child {
    text-align: center;
}

.modal-footer table tbody td {
    text-align: left;
    background-color: #FFF;
    padding: 7px;
}

.modal-footer table tbody td:first-child {
    width: 100px;
}

.modal-footer table tbody td:nth-child(3) {
    width: 140px;
}

.modal-footer table tbody td:last-child {
    width: 25px;
}

.modal-footer table td button {
    margin: 0;
}

.mobile-break {
    display: none;
}

.loading {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -27px;
    z-index: 5000;
}

.delete-button {
    margin-top: 5px!important;
}

.push-right {
    margin-left: 1em;
}

.onlyMySearches input {
    margin-left: 0.5em;
    margin-right: 0.2em;
}

.breakLine label {
    /*margin-left: 2em!important;*/
}

.leftvariantform input {
    width: 10em!important;
    margin-left: 0.5em;
}

.rightvariantform #onlyMineUser {
    width: 10em!important;
    margin-left: 0.5em;
}

.variantResultList tbody tr td:first-child {
    width: 10em!important;
    max-width: 10em!important;
}

.variantResultList tbody tr td:nth-child(2) {
    width: 20em!important;
    max-width: 20em!important;
}

.variantResultList tbody tr td:nth-child(3) {
    width: 10em!important;
    max-width: 10em!important;
}

.variantResultList tbody tr td:nth-child(4) {
    width: 10em!important;
    max-width: 10em!important;
}

.variantResultList tbody tr td:last-child {
    width: auto!important;
    max-width: auto!important;
}

.isDefaultRadio {
    margin-right: 0.5em!important;
}

.deleteVariantButton {
    font-size: 1.5em;
    padding-top: 0.15em;
}

.sort-link {
    color: white;
}

.sort-link:hover {
    color: white!important;
    text-decoration: none;
}

.sort-link:focus {
    color: white!important;
    text-decoration: none;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.userid-field {
    font-weight: bold!important;
    padding-left: 1em!important;
}

.userid-input {
    width: 15em!important;
}

.top-wrapper {
    clear: both;
}

.done-button {
    margin-bottom: 10px!important;
}
.match-input-width {
    width: 20.35em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .search-field-modal {
        width: 50%;
    }
}